<%- include("partial/home_header") %>

  <main class="container-fluid mb-5">

    <div class="container-fluid mt-2">
      <div class="tab-container">
        <ul class="nav nav-tabs flex-nowrap">
          <li class="nav-item">
            <a class="nav-link active fw-bold" onclick="openTab(event, 'Tab1')"><i class="fa-solid fa-gem"
                style="color: #ffffff;"></i>&nbsp;Places Hosted</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold" onclick="openTab(event, 'Tab2')"><i class="fa-solid fa-building"
                style="color: #FFF;"></i>&nbsp;Host a Place</a>
          </li>
        </ul>
      </div>

      <div class="tab-content mt-4">
        <!-- Host Places -->

        <!-- places listing -->
        <div class="container-fluid m-0 tab-pane fade show active p-0" id="Tab1">
          <div class="row g-3">

            <% host_property.forEach(place => { %>

              <a href="/place_detail/<%= place.host_place_id %>" class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 place-content shadow">
                <div class="card border-0 bg-white" style="width: 100%;">

                  <% if (place.base64Image) { %>
                    <img src="data:<%= place.image_mime_type %>;base64,<%= place.base64Image %>" class="place-img" alt="..." style="height: 250px;">
                  <% } else { %>
                    <p>No image available</p>
                  <% } %>

                  <div class="card-body p-1">
                    <div class="d-flex justify-content-between mb-2">
                      <h5 class="mb-0 w-50 fs-6 fw-bolder title"><%= place.property_title %></h5>
                      <p class="small prices mb-0">Price per day: <b>$<%= place.property_price_per_night %>USD</b></p>
                    </div>
                    <p class="small mb-0">Available from: <b><%= place.available_month %> <%= place.available_day %>, <%= place.available_year %></b></p>
                    <div class="d-flex justify-content-between mb-2">
                      <p class="small mb-0 w-100"><%= place.property_description %></p>
                    </div>
                    <p class="title fw-bold">Hosted by <%= place.host_name %></p>
                  </div>
                </div>
              </a>

            <%})%>

          </div>
        </div>

        <div id="Tab2" class="tab-pane fade text-black">
          <div class="hosting-section container-fluid">
            <div class="row">
              <div class="col text-center flex-column
              justify-content-center text-center" id="sm_responsive_intro_section">
                <h3 class="lodgeliberia_textcolor_color text-center fw-bold" id="hostlogo">
                  Host your property
                  <br> with LodgeLiberia
                </h3>

                <!-- The below button is only available for smaller screen, for better responsiveness -->
                <div class="container-fluid mt-2 d-lg-none">
                  <button class="lodgeliberia_background_color btn text-black fw-bold"
                    id="display_hosting_form_btn">Start your hosting..</button>
                </div>


              </div>
              <div class="col b-danger d-lg-block" id="host_place_form">

                <!-- Hosting Form -->
                <form action="/submit_property" method="POST" class="step-form" enctype="multipart/form-data">

                  <!-- Step 1: Basic Information -->
                  <div class="step">
                    <h3 class="lodgeliberia_textcolor_color fw-bold">Property Basic Information</h3>
                    <div class="mb-3">
                      <label for="propertyName" class="form-label text-black fw-bold">Property Name</label>
                      <input type="text" class="form-control" id="propertyName" name="propertyName" required
                        placeholder="Property Name" value="Room in hotel">
                    </div>

                    <div class="mb-3">
                      <label for="host_cover_image" class="form-label text-black fw-bold">Property Cover Image</label>
                      <input class="form-control" type="file" id="host_cover_image" name="host_cover_image"
                        accept="image/*" required>
                    </div>

                    <div class="mb-3">
                      <label for="multiple_host_images" class="form-label text-black fw-bold" id="error-message">
                        Additional Images (Please upload at least 4 images)
                      </label>
                      <input class="form-control" type="file" accept="image/*" name="hosting_images[]" multiple required
                        id="multiple_host_images">
                    </div>

                    <div class="mb-3">
                      <label for="propertyType" class="form-label text-black fw-bold">Property Type</label>
                      <select class="form-select form-control" id="propertyType" name="propertyType" required>
                        <option value="">Select property type</option>
                        <option value="Apartment">Apartment</option>
                        <option value="House">House</option>
                        <option value="Room" selected>Room</option>
                        <option value="Guest House">Guest House</option>
                        <option value="Experience">Explore (Cultural Experience)</option>
                      </select>
                    </div>

                    <button type="button"
                      class="btn btn-custom next-step lodgeliberia_background_color text-black fw-bold w-50">Next</button>
                  </div>

                  <!-- Step 2: Location Information -->
                  <div class="step" style="display: none;">
                    <h3 class="lodgeliberia_textcolor_color fw-bold">Location Information</h3>
                    <div class="mb-3">
                      <label for="utility_bill" class="form-label text-black fw-bold">Please upload a recent utility bill (e.g., water, electricity, or internet) for address verification:</label>
                      <input class="form-control" type="file" id="utility_bill" name="utility_bill" accept="image/*,application/pdf" required>
                    </div>
                    <div class="mb-3">
                      <label for="address" class="form-label text-black fw-bold">Address</label>
                      <input type="text" class="form-control" id="address" name="address" required value="Monrovia, Liberia">
                    </div>
                    <div class="mb-3">
                      <label for="city" class="form-label text-black fw-bold">City</label>
                      <input type="text" class="form-control" id="city" name="city" required value="Monrovia">
                    </div>
                    <div class="mb-3">
                      <label for="county" class="form-label text-black fw-bold">County</label>
                      <select class="form-select form-control" id="county" name="county" required>
                        <option value="">Select a county</option>
                        <option value="bomi">Bomi</option>
                        <option value="bong">Bong</option>
                        <option value="gbarpolu">Gbarpolu</option>
                        <option value="grand-bassa">Grand Bassa</option>
                        <option value="grand-cape-mount">Grand Cape Mount</option>
                        <option value="grand-gedeh">Grand Gedeh</option>
                        <option value="grand-kru">Grand Kru</option>
                        <option value="lofa">Lofa</option>
                        <option value="margibi">Margibi</option>
                        <option value="maryland">Maryland</option>
                        <option value="montserrado" selected>Montserrado</option>
                        <option value="nimba">Nimba</option>
                        <option value="rivercess">River Cess</option>
                        <option value="river-gee">River Gee</option>
                        <option value="sinoe">Sinoe</option>
                      </select>
                    </div>
                    <button type="button"
                      class="btn btn-custom prev-step lodgeliberia_background_color text-black fw-bold">Previous</button>
                    <button type="button"
                      class="btn btn-custom next-step lodgeliberia_background_color text-black fw-bold">Next</button>
                  </div>

                  <!-- Step 3: Availability Information -->
                  <div class="step" style="display: none;">
                    <h3 class="lodgeliberia_textcolor_color fw-bold">Availability Information</h3>
                    <div class="mb-3">
                      <label for="startDate" class="form-label text-black fw-bold">Start Date</label>
                      <input type="date" class="form-control" id="startDate" name="startDate" required value="2024-10-10">
                    </div>
                    <div class="mb-3">
                      <label for="minStayDays" class="form-label text-black fw-bold">Minimum Stay (Days)</label>
                      <input type="number" class="form-control" id="minStayDays" name="minStayDays" required min="1" value="2">
                    </div>
                    <div class="mb-3">
                      <label for="maxGuests" class="form-label text-black fw-bold">Maximum Guests</label>
                      <input type="number" class="form-control" id="maxGuests" name="maxGuests" required min="1" value="2">
                    </div>
                    <button type="button"
                      class="btn btn-custom prev-step lodgeliberia_background_color text-black fw-bold">Previous</button>
                    <button type="button"
                      class="btn btn-custom next-step lodgeliberia_background_color text-black fw-bold">Next</button>
                  </div>

                  <!-- Step 4: Pricing Information -->
                  <div class="step" style="display: none;">
                    <h3 class="lodgeliberia_textcolor_color fw-bold">Pricing Information</h3>
                    <div class="mb-3">
                      <label for="price" class="form-label text-black fw-bold">Price per Night</label>
                      <input type="number" class="form-control" id="price" name="price" required value="50">
                    </div>
                    <div class="mb-3">
                      <label for="currency" class="form-label text-black fw-bold">Currency</label>
                      <select class="form-select form-control" id="currency" name="currency" required>
                        <option value="">Select currency</option>
                        <option value="usd" selected>USD</option>
                      </select>
                    </div>
                    <button type="button"
                      class="btn btn-custom prev-step lodgeliberia_background_color text-black fw-bold">Previous</button>
                    <button type="button"
                      class="btn btn-custom next-step lodgeliberia_background_color text-black fw-bold">Next</button>
                  </div>

                  <!-- Step 5: Additional Information -->
                  <div class="step" style="display: none;">
                    <h3 class="lodgeliberia_textcolor_color fw-bold">Additional Information</h3>
                    <% if (!isIdCardUploaded) { %>
                    <div class="mb-3">
                      <label for="host_identification_card" class="form-label text-black fw-bold">Please upload a government-issued identification card (e.g., passport, national ID, or driver's license) for verification:</label>
                      <input class="form-control" type="file" id="host_identification_card" name="host_identification_card"
                        accept="image/*" required>
                    </div>
                    <% } %>
                    <div class="mb-3">
                      <label for="briefDescriptionValue" class="form-label text-black fw-bold">Brief Description</label>
                      <input type="text" class="form-control" id="briefDescriptionValue" name="briefDescriptionValue"
                        required value="Premium Room with Porch Lifestyle Luxury">
                    </div>
                    <div class="mb-3">
                      <label for="detailDescriptionValue" class="form-label text-black fw-bold">Detail
                        Description</label>
                      <textarea class="form-control" id="detailDescriptionValue" name="detailDescriptionValue" rows="3"
                        required>Premium Room with Porch Lifestyle Luxury</textarea>
                    </div>

                    <div class="mb-3">
                      <label for="allAmenities" class="form-label text-black fw-bold">Amenities</label>
                      <select id="allAmenities" name="allAmenities[]" data-placeholder="Select Amenities" multiple data-multi-select class="form-select form-control" required>
                        <% amenities.forEach(amenity=> { %>
                          <option value="<%= amenity.feature %>">
                            <%= amenity.feature %>
                          </option>
                          <% }) %>
                      </select>
                    </div>


                    <button type="button"
                      class="btn btn-custom prev-step lodgeliberia_background_color text-black fw-bold">Previous</button>
                    <button type="button"
                      class="btn btn-custom next-step lodgeliberia_background_color text-black fw-bold">Next</button>
                  </div>

                  <!-- Step 6: Confirmation -->
                  <div class="step" style="display: none;">
                    <h3 class="lodgeliberia_textcolor_color fw-bold">Confirmation</h3>
                    <p class="text-black fw-bold">Please review your details before submitting:</p>

                    <ul>
                      <li><b>Property Name:</b> <span id="reviewPropertyName"></span></li>
                      <li><b>Property Type:</b> <span id="reviewPropertyType"></span></li>
                      <li><b>Address:</b> <span id="reviewAddress"></span></li>
                      <li><b>City:</b> <span id="reviewCity"></span></li>
                      <li><b>Start Date:</b> <span id="reviewStartDate"></span></li>
                      <li><b>Minimum Stay:</b> <span id="reviewMinStayDays"></span> days</li>
                      <li><b>Maximum Guests:</b> <span id="reviewMaxGuests"></span></li>
                      <li><b>Brief Description:</b> <span id="briefDescription"></span></li>
                      <li><b>Detail Description:</b> <span id="detailDescription"></span></li>
                      <li><b>Price per Night:</b> <span id="reviewPrice"></span> <span id="reviewCurrency"></span></li>
                    </ul>

                    <button type="button"
                      class="btn btn-custom prev-step lodgeliberia_background_color text-black fw-bold">Previous</button>
                    <button type="submit"
                      class="btn btn-custom lodgeliberia_background_color text-black fw-bold">Host Property</button>
                  </div>
                </form>


              </div>
            </div>
          </div>

        </div>
      </div>
  </main>
  <%- include("partial/hosting_footer") %>