<%- include("partial/place_detail_header") %>

  <main class="container-fluid">

    <!-- Available for all screen sizes above md -->
    <div class="container d-none d-md-block mb-0">
      <div class="row gx-1 gy-1" style="height: 400px;">

        <div class="col-6 p-2 m-0 h-100">
          <div class="text-center h-100">
            <img src="data:image/jpeg;base64,<%= place.images[0] %>" class="selected_place-images" alt="...">
          </div>
        </div>

        <div class="col-6 p-0 row gx-1 gy-1 h-100 m-0 row">

          <div class="m-0 row p-0 h-50">
            <div class="col-6 p-1 text-center m-0 h-100">
              <img src="data:image/jpeg;base64,<%= place.images[1] %>" class="selected_place-images" alt="...">
            </div>
            <div class="col-6 p-1 text-center m-0 h-100">
              <img src="data:image/jpeg;base64,<%= place.images[2] %>" class="selected_place-images" alt="...">
            </div>
          </div>

          <div class="m-0 row p-0 h-50">
            <div class="col-6 p-1 text-center m-0 h-100">
              <img src="data:image/jpeg;base64,<%= place.images[3] %>" class="selected_place-images" alt="...">
            </div>
            <div class="col-6 p-1 text-center m-0 h-100">
              <img src="data:image/jpeg;base64,<%= place.images[3] %>" class="selected_place-images" alt="...">
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Available for all screen sizes below md -->
    <div class="container mb-0 d-md-none" style="max-height: 400px;">

      <div class="d-flex col justify-content-start">
        <a href="#" class="text-decoration-none p-2 fw-bold mb-2" id="return_btn">
          <i class="fa-solid fa-less-than fw-bold" style="color: #ffffff;"></i>
        </a>
      </div>

      <img src="data:image/jpeg;base64,<%= place.images[0] %>" class="selected_place-images" alt="...">
    </div>

    <!-- Place detail information -->
    <div class="container">

      <p class="fw-bold mt-2 mb-0 fs-4 property_title">
        <%= place.property_title %>
      </p>

      <p class="card-text mb-0 text-black">Available from: <b>
          <%= place.available_month %>
            <%= place.available_day %>, <%= place.available_year %>
        </b></p>
      <p class="mb-0 text-black t">Price per day: <b>$<%= place.property_price_per_night %>USD</b></p>

      <hr class="divider">

      <p class="text-black fw-normal fs-6 mb-0">
        <img src="data:image/jpeg;base64,<%= place.host_picture %>" class="rounded-circle host_image_icon"
          alt="...">&nbsp; Hosted by <%= place.host_name %>
      </p>

      <p class="text-black fw-normal fs-6 ms-5">
        Profession: <%= place.host_name %>
      </p>

      <hr class="divider">

      <p class="text-black fw-bold fs-6 mb-1">
        Place Description
      </p>

      <p class="text-black fw-normal fs-6 text-justify">
        <%= place.property_detail_description %>
      </p>

      <!-- Place features and booking section -->
      <div class="container">
        <div class="row">

          <div class="col-sm-4 col-md-6 border border-danger col-12 p-0">
            <p class="text-black fw-bold fs-6 mb-1">
              Place facilities: <span class="badge text-black fw-bolder" id="badge">
                <%= place.feature_count %>
              </span>
            </p>

            <ul class="text-black">
              <% place.features.forEach(function(feature) { %>
                <li>
                  <%= feature %>
                </li>
                <% }) %>
            </ul>
          </div>

          <!-- Booking section -->
          <form class="col-sm-8 col-md-6 border border-danger d-none d-sm-block" target="" method="">

            <!-- Price -->
            <p class="mb-0 text-black fs-4">$<%= place.property_price_per_night %>USD/per day</p>

            <!-- Calender section -->
            <div class="container mt-2">
              <div class="row">

                <a class="col border border-danger text-decoration-none text-black calender">
                  <span class="fw-bold">CHECK-IN:</span>
                  <br>

                  <% 
                  
                  // Convert the EJS variables into a valid date string

                  const year = place.available_year; 
                  const month = ("0" + (["January", "February" , "March" , "April" , "May" , "June" , "July" , "August", "September" , "October" , "November" , "December" ].indexOf(place.available_month) +
                    1)).slice(-2); 
                    const day=("0" + place.available_day).slice(-2); 
                    const defaultDate = `${year}-${month}-${day}`; 

                  %>

                  <!-- Calender (Check-in) -->
                  <div>
                    <div class="input-group">
                      <span class="input-group-text text-white" id="calendar_icon">
                        <i class="fa-solid fa-calendar-days" style="color: #000000;"></i>
                      </span>
                      <input type="date" class="form-control text-black bg-light" name="start-date" id="start-date" value="<%= defaultDate %>" style="color-scheme: black;">
                    </div>
                  </div>
                  <!-- Calender -->

                </a>

                <a class="col border border-danger text-decoration-none text-black calender" href="#">
                  <span class="fw-bold">CHECK-OUT:</span>
                  <br>

                  <% 
                  
                  // Convert the EJS variables into a valid date string
 
                    const endDefaultDate = `${year}-${month}-${day}`; 

                  %>

                  <!-- Calender (Check-out) -->
                  <div>
                    <div class="input-group">
                      <span class="input-group-text text-white" id="calendar_icon">
                        <i class="fa-solid fa-calendar-days" style="color: #000000;"></i>
                      </span>
                      <input type="date" class="form-control text-black bg-light" name="start-date" id="start-date" value="<%= endDefaultDate %>" style="color-scheme: black;">
                    </div>
                  </div>
                  <!-- Calender -->

                </a>

              </div>
            </div>

          </form>
          <!-- Calender section -->
          <%- include("./checkin_calender") %>


        </div>
      </div>
      <!-- Place features and booking section -->

    </div>

  </main>


  <!-- Floating Button (Position Fixed ) -->
  <div class="container-fluid position-fixed bottom-0 bg-black p-3 d-md-none">
    <a class="text-white text-decoration-none" href="#">
      From: <%= place.available_month %>
        <%= place.available_day %>, <%= place.available_year %>
            <br>To: <%= place.available_month %>
              <%= place.available_day %>, <%= place.available_year %>
    </a>
    <div class="d-flex justify-content-between">
      <p class="text-left mb-0 mt-2">Cost: <%= place.property_price_per_night * 2 %>
      </p>
      <a class="btn" href="#" id="floating-reserve-section">Book</a>
    </div>
  </div>
  <!-- Floating Button (Position Fixed ) -->

  <%- include("partial/home_footer") %>