<%- include("partial/home_header") %>

  <main class="container-fluid">

    <div class="container-fluid mt-2">
      <div class="tab-container">
        <ul class="nav nav-tabs flex-nowrap">
          <li class="nav-item">
            <a class="nav-link active fw-bold" onclick="openTab(event, 'Tab1')"><i class="fa-solid fa-gem"
                style="color: #ffffff;"></i>&nbsp;Places</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold" onclick="openTab(event, 'Tab2')"><i class="fa-solid fa-building"
                style="color: #FFF;"></i>&nbsp;Apartments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold" onclick="openTab(event, 'Tab3')"><i class="fa-solid fa-house"
                style="color: #ffffff;"></i>&nbsp;Houses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold" onclick="openTab(event, 'Tab4')"><i class="fa-solid fa-person-shelter" style="color: #ffffff;"></i>&nbsp;Guest House</a>
          </li>
          <li class="nav-item"></li>
            <a class="nav-link fw-bold" onclick="openTab(event, 'Tab5')"><i class="fa-solid fa-bed" style="color: #ffffff;"></i>&nbsp;Rooms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold" onclick="openTab(event, 'Tab6')"><i class="fa-solid fa-dove"
                style="color: #ffffff;"></i>&nbsp;Explore</a>
          </li>
        </ul>
      </div>

      <div class="tab-content mt-4">
        <!-- Listing of Places -->

        <!-- Mix place listing -->
        <div class="container-fluid m-0 tab-pane fade show active p-0" id="Tab1">
          <div class="row g-2">

            <% host_listings.forEach(place => { %>

              <a href="/place_detail/<%= place.host_place_id %>" class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-2 place-content">
                <div class="card border-0 bg-white" style="width: 100%;">

                  <% if (place.base64Image) { %>
                    <img src="data:image/jpeg;base64,<%= place.base64Image %>" class="place-img" alt="...">
                  <% } else { %>
                    <p>No image available</p>
                  <% } %>

                  <div class="card-body p-1">
                    <div class="d-flex justify-content-between mb-2">
                      <h5 class="mb-0 w-50 fs-6 fw-bolder"><%= place.property_title %></h5>
                      <p class="card-text prices mb-0">Price per day: <b>$<%= place.property_price_per_night %>USD</b></p>
                    </div>
                    <p class="card-text mb-0">Available from: <b><%= place.available_month %> <%= place.available_day %>, <%= place.available_year %></b></p>
                    <div class="d-flex justify-content-between mb-2">
                      <p class="card-text mb-0 w-100"><%= place.property_description %></p>
                    </div>
                    <p class="card-text fw-bold">Hosted by <%= place.host_name %></p>
                  </div>
                </div>
              </a>

            <%})%>

          </div>
        </div>

        <div id="Tab2" class="tab-pane fade text-black">Content for Tab 2</div>
        <div id="Tab3" class="tab-pane fade text-black">Content for Tab 3</div>
        <div id="Tab4" class="tab-pane fade text-black">Content for Tab 4</div>
        <div id="Tab5" class="tab-pane fade text-black">Content for Tab 5</div>
        <div id="Tab6" class="tab-pane fade text-black">Content for Tab 6</div>
      </div>
    </div>
  </main>
<%- include("partial/home_footer") %>